<?xml version="1.0"?>
<launch>

 <include file="$(find motar_mini)/launch/motar_world.launch">
 	<arg name="paused" value="false"/>
	<arg name="use_sim_time" value="true"/>
	<arg name="gui" value="true"/>
	<arg name="headless" value="false"/>
	<arg name="debug" value="false"/>
 </include>

 <arg name="name" default="motar_mini"/>
 <arg name="x" default="-7.0"/>
 <arg name="y" default="1.0"/>
 <arg name="z" default="0.0"/>
 <arg name="roll" default="0"/>
 <arg name="pitch" default="0"/>
 <arg name="yaw" default="0"/>


<!-- Spawn motar_mini into Gazebo -->
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
	args="-file $(find motar_mini)/urdf/motar_mini.urdf -urdf -model motar_mini"/>

</launch>
